<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.datasource">java:comp/env/jdbc/TIA103G3</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.current_session_context_class">thread</property>



		<mapping class="com.emp.model.EmpVo" />
		<mapping class="com.prod.model.ProdVo" />
		<mapping class="com.order.model.OrderListVo" />
		<mapping class="com.order.model.OrderDetailVo" />
		<mapping class="com.order.model.OrderDetailId" />

		<mapping class="com.coupon.model.Cp" />
		<mapping class="com.user_coup.model.UserCoupon" />
		<mapping class="com.addroute.model.Route"/>
		<mapping class="com.addroute.model.ShipSchedule"/>
		<mapping class="com.addroute.model.TravelOrder"/>
		
		


	</session-factory>
</hibernate-configuration>

